body {
    font-family: Verdana, sans-serif;
    font-size: 16px;
    background-color: black;
    text-align: center;
    color: white;
}
/* Header */
.header-main {
    font-size: 3.125rem;
    color: white;
    text-align: center;

}

.link-cta {
    color: aquamarine;
    text-align: center;
}

/* */

.header-secondary {
    font-weight: 300;
    font-size: 2.625rem;
    color: white;
}

.secondary-sub-header {
    font-size: 1.3125rem; 
    color: gray;
}
/*
#phone-icon {
    display: block;
    padding-top: 20px;
}
*/
.footer-main {
    text-align: right;
    color: gray;
}