html {
    font-family: Verdana, sans-serif;
    font-size: 16px;
    background-color: black;
    text-align: center;
    color: white;
}

h1 {
    font-size: 3.125rem;
    color: white;
    text-align: center;

}

.download {
    color: aquamarine;
    text-align: center;
}